<p id="notice"><%= notice %></p>

<h1>Sdev153s</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sdev153s.each do |sdev153| %>
      <tr>
        <td><%= link_to 'Show', sdev153 %></td>
        <td><%= link_to 'Edit', edit_sdev153_path(sdev153) %></td>
        <td><%= link_to 'Destroy', sdev153, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sdev153', new_sdev153_path %>
